<%- include('../templates/head') -%>
<body onclick="effectSlide(event)">
  <%- include('../layouts/nav') -%>
  <%- include('../layouts/section') -%>
  <%- include('../layouts/slidenav') -%>
</body>
<script src="script/scripts.js"></script>
