<%- include('../templates/head') -%>
<aside class="nav-slide" id="slide">
  <div class="div-slide">
    <div class="dropdown">
      <button class="dropbtn">
        Dropdown
      </button>
      <div class="dropdown-content">
        <a>A</a>
        <a>B</a>
      </div>
    </div>
  </div>
</aside>
